<h3> Players names are: <%=$player1.name %> vs. <%=$player2.name %> </h3>

<p> <%= $player2.name %> hitpoints = 0 </p>

<form action="/attack" method="post">
  <input type="submit" value="Attack"/>
</form>
